body
{
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

table
{
    overflow: hidden;
    border-collapse: collapse;
}

/*нечётные за счёт того, что первый ряд с заголовками пропускаем*/
tr:nth-child(2n)
{
    background-color: #e5faf2;
}

td:first-child, td:nth-child(2), td:nth-child(7), td:nth-child(8)
{
    text-align: center;
}

td, th
{
    position: relative;
    width: 125px;
}

th {
    z-index: 3;
    background-color: #adcbf9;
}

tr:hover
{
    background-color: #d4e2e5;
}

/*tr:first-child
{
    background-color: #adcbf9;

}*/

/*td:hover span
{
    background-color: #b9cee0;
    display: block;
    height: 35px;
    width: 125px;
    z-index: 3;
}*/

span
{
    z-index: 2;
    position: inherit;
}

td:hover:after
{
    content: '';
    display: block;
    position: absolute;
    top: -600px;
    left: 0;
    background: #b4e3b4;
    z-index: 1;
    width: 127px;
    height: 3000px;
}

img.logo
{
    width: 125px;
}

.cancelled
{
    color: #ff524a;
    font-weight: bold;
}

p
{
    font-weight: bold;
}

[value="Прилёт"]:not(:checked) ~ table tr.in,
[value="Вылет"]:not(:checked) ~ table tr.out,
[value="d"]:not(:checked) ~ table tr.d, [value="e"]:not(:checked) ~ table tr.e,
[value="f"]:not(:checked) ~ table tr.f
{
    display: none;
    /*visibility: hidden;*/
}

input:invalid
{
    border-color: #ff524a;
}

button
{
    visibility: hidden;
}

form:valid button
{
    visibility: visible;
}
